#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left
}

#cboxContent {
    position: relative
}

#cboxLoadedContent {
    overflow: auto
}

#cboxTitle {
    margin: 0
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box
}

#cboxOverlay {
    background: url(../bundles/elokencesite/images/colorbox/overlay.png) repeat 0 0
}

#cboxTopLeft {
    width: 21px;
    height: 21px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -101px 0
}

#cboxTopRight {
    width: 21px;
    height: 21px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -130px 0
}

#cboxBottomLeft {
    width: 21px;
    height: 21px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -101px -29px
}

#cboxBottomRight {
    width: 21px;
    height: 21px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -130px -29px
}

#cboxMiddleLeft {
    width: 21px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) left top repeat-y
}

#cboxMiddleRight {
    width: 21px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) right top repeat-y
}

#cboxTopCenter {
    height: 21px;
    background: url(../bundles/elokencesite/images/colorbox/border.png) 0 0 repeat-x
}

#cboxBottomCenter {
    height: 21px;
    background: url(../bundles/elokencesite/images/colorbox/border.png) 0 -29px repeat-x
}

#cboxContent {
    background: #fff;
    overflow: hidden
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    margin-bottom: 28px
}

#cboxTitle {
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949494
}

#cboxCurrent {
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494
}

#cboxSlideshow {
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef
}

#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -75px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px
}

#cboxPrevious:hover {
    background-position: -75px -25px
}

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -50px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px
}

#cboxNext:hover {
    background-position: -50px -25px
}

#cboxLoadingOverlay {
    background: url(../bundles/elokencesite/images/colorbox/loading_background.png) no-repeat center center
}

#cboxLoadingGraphic {
    background: url(../bundles/elokencesite/images/colorbox/loading.gif) no-repeat center center
}

#cboxClose {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../bundles/elokencesite/images/colorbox/controls.png) no-repeat -25px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px
}

#cboxClose:hover {
    background-position: -25px -25px
}

.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)
}

.cboxIE6 #cboxTopLeft {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderTopLeft.png)
}

.cboxIE6 #cboxTopCenter {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderTopCenter.png)
}

.cboxIE6 #cboxTopRight {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderTopRight.png)
}

.cboxIE6 #cboxBottomLeft {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderBottomLeft.png)
}

.cboxIE6 #cboxBottomCenter {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderBottomCenter.png)
}

.cboxIE6 #cboxBottomRight {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderBottomRight.png)
}

.cboxIE6 #cboxMiddleLeft {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderMiddleLeft.png)
}

.cboxIE6 #cboxMiddleRight {
    background: url(../bundles/elokencesite/images/colorbox/ie6/borderMiddleRight.png)
}

.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src:this.currentStyle.backgroundImage.split('"')[1],this.style.background = "none",this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+this.src+", sizingMethod='scale')")
}

#cookie-bar {
    background: #111;
    height: auto;
    line-height: 24px;
    color: #eee;
    text-align: center;
    padding: 3px 0;
    z-index: 10000;
    opacity: .70
}

#cookie-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

#cookie-bar.fixed.bottom {
    bottom: 0;
    top: auto
}

#cookie-bar p {
    margin: 0;
    padding: 0
}

#cookie-bar a {
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    text-decoration: underline;
    padding: 0 6px
}

#cookie-bar .cb-enable {
    background: #812206;
    text-decoration: none
}

#cookie-bar .cb-enable:hover {
    background: #9e2906;
    text-decoration: none
}

#cookie-bar .cb-disable {
    background: #900
}

#cookie-bar .cb-disable:hover {
    background: #b00
}

#cookie-bar .cb-policy {
    background: #03b
}

#cookie-bar .cb-policy:hover {
    background: #05d
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231
}

body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222
}

a {
    color: black
}

a:visited {
    color: black
}

a:hover {
    color: #06e
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: "";
    content: none
}

small {
    font-size: 85%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px
}

dd {
    margin: 0 0 0 40px
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

form {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    cursor: pointer
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal;
    *overflow: visible
}

table button, table input {
    *overflow: auto
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

input:invalid, textarea:invalid {
    background-color: #f0dddd
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}

@font-face {
    font-family: 'CheboyganRegular';
    src: url('../bundles/elokencesite/fonts/cheboyga-webfont.eot');
    src: url('../bundles/elokencesite/fonts/cheboyga-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/elokencesite/fonts/cheboyga-webfont.woff') format('woff'), url('../bundles/elokencesite/fonts/cheboyga-webfont.ttf') format('truetype'), url('../bundles/elokencesite/fonts/cheboyga-webfont.svg#CheboyganRegular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ChowFunRegular';
    src: url('../bundles/elokencesite/fonts/chowfun-webfont.eot');
    src: url('../bundles/elokencesite/fonts/chowfun-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/elokencesite/fonts/chowfun-webfont.woff') format('woff'), url('../bundles/elokencesite/fonts/chowfun-webfont.ttf') format('truetype'), url('../bundles/elokencesite/fonts/chowfun-webfont.svg#ChowFunRegular') format('svg');
    font-weight: normal;
    font-style: normal
}

html, body {
    font-family: 'Verdana'
}

a.rouge {
    color: #ae2917;
    text-decoration: none
}

a.rouge:hover {
    text-decoration: underline
}

a.rouge2 {
    color: #690702;
    text-decoration: none
}

a.rouge2:hover {
    text-decoration: underline
}

.center {
    text-align: center
}

.left {
    text-align: left
}

.btn-content {
    background: url('../bundles/elokencesite/images/bg-btn.jpg') repeat-x;
    padding: 0 20px 0 20px;
    margin: 20px 25% 0 25%;
    text-align: center;
    border: 1px solid #9a4835;
    color: #ffedb8
}

.btn-contact {
    background: url('../bundles/elokencesite/images/bg-btn.jpg') repeat-x;
    padding: 0 20px 0 20px;
    margin: 20px 0 0 40%;
    text-align: center;
    border: 1px solid #9a4835;
    color: #ffedb8
}

.petit {
    font-size: 10px
}

.blue {
    color: #4c72ab
}

.black {
    color: #3b1c09
}

.marron_aki {
    color: #5c2214
}

.red {
    color: #ba0000
}

.bold {
    font-weight: bold
}

.hidden {
    display: none
}

form p.double {
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Verdana';
    overflow: hidden;
    float: left
}

form p.double label {
    float: left;
    width: 110px;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
    color: #353535
}

form p.contactp {
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Verdana';
    overflow: hidden
}

form p.contactp label {
    float: left;
    width: 250px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    color: #353535;
    margin-right: 20px
}

form#add-photo-form span {
    float: left
}

form#soundlike-form label, form#add-form label, form#listperso-form label, form#add-photo-form label {
    text-align: right;
    font-weight: bold;
    cursor: pointer;
    color: #353535
}

form#add-photo-form .photo-info label {
    text-align: left;
    float: left;
    margin-left: 50px;
    font-weight: bold;
    cursor: pointer;
    color: #353535;
    width: 160px
}

form#add-photo-form .photo-info input, form#add-photo-form .photo-info-other input {
    float: left
}

form#add-photo-form .photo-info-other label {
    text-align: left;
    float: left;
    font-weight: bold;
    cursor: pointer;
    color: #353535;
    width: 400px;
    margin-bottom: 5px
}

form#add-photo-form .photo-info-other input {
    margin-left: 50px;
    margin-right: 8px
}

form#add-photo-form .photo-info-other .motif {
    width: 100%;
    margin-left: 50px
}

form#add-photo-form .cgu {
    margin-top: 20px
}

form#add-photo-form .subscription {
    margin-top: 20px
}

form#add-photo-form .subscription label {
    color: #9e9898
}

form#add-form label {
    width: 200px;
    display: block;
    float: left
}

#photo {
    position: relative;
    float: left;
    width: 100%
}

.photo_vote {
    width: 200px
}

.photo_vote_container {
    position: relative;
    margin-left: 38px;
    width: 200px;
    float: left;
    overflow: visible;
    margin-top: 10px;
    bottom: 0
}

#submittedBy {
    color: white;
    text-align: left;
    width: 210px
}

.pseudo_photo {
    height: 16px
}

#duel_termine {
    text-align: center
}

a.vote {
    background: url('../images/bg-reponses.png') no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 32px;
    height: 41px;
    width: 200px;
    float: left;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #27100d;
    text-decoration: none;
    display: block;
    margin-left: 1px;
    cursor: pointer;
    margin-top: 10px
}

p.nb_votes {
    text-align: center;
    padding: 5px;
    background-color: #5c2214;
    color: white;
    margin: 0
}

form#listperso-form label {
    margin-bottom: 5px
}

form p.double input[type="text"], form p.double input[type="number"], form#soundlike-form input[type="text"], form#add-form input[type="text"], form#listperso-form input[type="text"], form#edit-name-form input[type="text"] {
    width: 160px;
    margin-left: 12px;
    border: solid 1px #5c2214;
    padding: 2px 4px;
    background-color: #f2dda0;
    border-radius: 5px
}

form p.contactp input[type="text"] {
    width: 250px
}

form p.contactp input[type="text"], form#contactForm textarea {
    margin-left: 0;
    border: solid 1px #5c2214;
    padding: 2px 4px;
    background-color: #f2dda0;
    border-radius: 5px
}

form#contactForm ul {
    list-style-type: none;
    margin: 0;
    color: red;
    padding: 0
}

form#add-form input[type="text"] {
    float: left
}

form#listperso-form input[type="text"] {
    width: 400px
}

form input[type="submit"] {
    background: url('../bundles/elokencesite/images/bg-btn.jpg') repeat-x;
    text-align: center;
    padding: 0 25px 0 25px;
    height: 20px;
    line-height: 18px;
    color: #ffebb1;
    border: 1px solid #9e5e47;
    font-weight: bold
}

form input[type="radio"] {
    margin-left: 15px
}

div#elokence_sitebundle_identification_sexe {
    float: left;
    line-height: 20px
}

#list-form, #soundlike-form, #add-form {
    text-align: center
}

form#edit-name-form {
    text-align: center
}

form#edit-name-form label {
    display: block;
    float: left;
    font-weight: bold;
    font-family: 'Verdana'
}

form#edit-name-form label.new-label {
    width: 500px
}

form#edit-name-form label.actual-label {
    width: 200px
}

form#edit-name-form input[type="text"] {
    width: 400px;
    margin: 3px 0 0 0
}

form#edit-name-form textarea {
    width: 400px;
    height: 60px;
    border: solid 1px #5c2214;
    padding: 2px 4px;
    background-color: #f2dda0;
    border-radius: 5px;
    margin: 3px 0 0 0
}

body {
    margin: 0;
    background: #a83f2f url('../images/fond-repeat.jpg') repeat-x top;
    overflow: hidden
}

#container {
    width: 995px;
    margin: 0 auto;
    min-height: 824px;
    position: relative
}

#main {
    min-height: 700px
}

#light-gauche {
    width: 509px;
    height: 508px;
    position: absolute;
    top: 33px;
    left: -347px;
    background: url('../images/lumiere-mur.png') no-repeat;
    z-index: -20
}

#light-droite {
    width: 509px;
    height: 508px;
    position: absolute;
    top: 33px;
    right: -305px;
    background: url('../images/lumiere-mur.png') no-repeat;
    z-index: -20
}

#fenetre {
    position: absolute;
    width: 657px;
    height: 555px;
    top: 150px;
    left: 179px;
    z-index: -20;
    background: url('../images/ville.png') no-repeat
}

#tapis {
    position: absolute;
    width: 842px;
    height: 205px;
    top: 606px;
    left: 177px;
    z-index: -20;
    background: url('../images/tapis.png') no-repeat
}

header {
    width: 995px;
    height: 146px;
    margin: 0;
    padding: 0
}

#header-top {
    width: 995px;
    height: 106px
}

#header-bottom {
    width: 995px;
    height: 40px
}

aside#left {
    float: left;
    width: 247px;
    position: relative;
    min-height: 625px;
    height: auto !important;
    height: 625px
}

div#content {
    float: left;
    width: 583px;
    position: relative
}

aside#right {
    float: right;
    width: 165px;
    overflow: hidden
}

div#footer-wrapper {
    margin: 0;
    clear: both;
    height: 192px;
    background: url('../bundles/elokencesite/images/bg-footer.jpg') repeat-x
}

footer {
    width: 995px;
    margin: 0 auto
}

#logo {
    display: block;
    text-indent: -5000px;
    background: url('../bundles/elokencesite/images/logo.png') no-repeat;
    width: 260px;
    height: 106px;
    float: left
}

nav#language-selection {
    width: 226px;
    height: 24px;
    border: 1px solid #a03c32;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    background: url('../bundles/elokencesite/images/bg-language-selection.jpg') repeat-x;
    margin: 7px 30px 0 4px;
    float: left
}

nav#language-selection p#current-language {
    margin: 0;
    width: 226px;
    height: 24px;
    cursor: pointer
}

nav#language-selection p#current-language a {
    margin: 0;
    height: 24px;
    display: block;
    width: 140px;
    float: right;
    line-height: 22px;
    padding: 0 20px 0 10px;
    text-align: right;
    border: 0
}

nav#language-selection p#current-language a:focus {
    outline: 0
}

nav#language-selection p#current-language span {
    display: block;
    margin: 3px 20px 0 15px;
    width: 18px;
    float: left
}

nav#language-selection img.flag {
    width: 32px;
    height: 20px
}

nav#language-selection ul {
    display: none;
    margin: 0;
    padding: 0 0 0 75px;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 0;
    width: 226px
}

nav#language-selection ul li {
    line-height: 22px;
    height: 24px;
    border: 1px solid #a43f35;
    background-color: #781911;
    margin: 0;
    padding: 0 20px 0 0;
    text-align: right
}

nav#language-selection a {
    color: #faac26;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px
}

nav#language-selection ul li.langue-last {
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px
}

nav#language-selection ul li.langue-first {
    margin-top: 2px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px
}

nav#language-selection ul li a:hover {
    text-decoration: underline
}

nav#menu {
    width: 732px;
    height: 40px;
    float: left;
    position: relative
}

nav#menu ul {
    height: 25px;
    padding: 0;
    margin: 6px 0 0 0;
    list-style-position: inside
}

nav#menu ul li {
    float: left;
    font-family: 'ChowFunRegular';
    font-size: 15px;
    line-height: 27px;
    padding: 0 10px 0 14px;
    font-weight: 300;
    background: url('../bundles/elokencesite/images/puce-rouge.png') left center no-repeat
}

nav#menu ul li:hover {
    background: url('../bundles/elokencesite/images/puce-jaune.png') left center no-repeat
}

nav#menu ul li a {
    color: white;
    text-decoration: none
}

nav#menu ul li a:hover {
    color: #fecb00
}

nav#menu ul li ul {
    display: none;
    z-index: 10000;
    height: auto;
    position: absolute;
    background-color: #781911;
    margin-left: -5px
}

nav#menu ul li ul li {
    float: none;
    font-family: 'ChowFunRegular';
    font-size: 15px;
    line-height: 27px;
    font-weight: 300;
    border: 1px solid #a43f35;
    padding: 5px 10px 5px 10px;
    background: 0
}

nav#menu ul li ul li:hover {
    background: 0
}

aside#left section#actu {
    width: 247px;
    height: 232px;
    background: url('../bundles/elokencesite/images/bg-actu.png') no-repeat;
    margin: 10px 0 0 0
}

aside#left section#cross-media {
    width: 247px;
    margin: 10px 0 0 0
}

aside#left section#cross-media div#cross-media-title {
    margin: 0;
    padding: 0;
    width: 247px;
    height: 83px;
    background: url('../bundles/elokencesite/images/bg-top-crossmedia.png') no-repeat;
    overflow: hidden
}

aside#left section#cross-media div#cross-media-content {
    margin: 0;
    width: 247px;
    padding: 0;
    background: url('../bundles/elokencesite/images/bg-repeat-crossmedia.png') repeat-y
}

aside#left section#cross-media div#cross-media-footer {
    margin: 0;
    padding: 0;
    width: 247px;
    height: 33px;
    background: url('../bundles/elokencesite/images/bg-bottom-crossmedia.png') no-repeat
}

aside#left div#colonne {
    position: absolute;
    top: 95px;
    left: -78px;
    width: 384px;
    height: 530px
}

aside#left #cancelbtn {
    display: none
}

aside#left .reponse {
    width: 237px;
    height: 41px;
    background: url('images/bg-reponses.png') no-repeat;
    text-align: center;
    line-height: 37px;
    padding: 0;
    margin: 30px 0 0 10px
}

aside#left .valid {
    width: 237px;
    height: 41px;
    background: url('../bundles/elokencesite/images/bg-reponses-valid.png') no-repeat;
    text-align: center;
    line-height: 37px;
    padding: 0;
    margin: 30px 0 0 10px
}

aside#left .reponse a {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #27100d;
    text-decoration: none;
    display: block;
    width: 225px;
    height: 41px
}

aside#left .valid a {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #ae2917;
    text-decoration: none;
    display: block;
    width: 225px;
    height: 41px;
    padding-top: 2px
}

section#pub-header {
    width: 728px;
    height: 90px;
    float: left;
    margin: 10px 0 0 5px;
    cursor: pointer
}

section#pub-droite {
    width: 160px;
    height: 600px;
    margin: 7px 0 0 2px;
    cursor: pointer;
    overflow: hidden
}

section#pub-left {
    width: 160px;
    height: 600px;
    margin: 7px 0 0 20px;
    cursor: pointer
}

.banner {
    width: auto;
    height: auto
}

div#bulle-outer {
    background: url('../images/bulle.png') no-repeat;
    font-family: 'CheboyganRegular';
    margin: 17px 0 0 22px;
    width: 330px;
    height: 225px;
    line-height: 195px;
    color: #353535;
    padding: 10px 35px 20px 15px;
    text-align: center;
    position: relative;
    font-size: 21px
}

div#bulle-inner {
    width: 280px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2em
}

#bulle-inner-error {
    display: none;
    width: 280px;
    vertical-align: middle;
    line-height: 1.2em
}

div#questionNo {
    position: absolute;
    color: #ae2917;
    top: 35px;
    left: 32px;
    text-align: center;
    height: 22px;
    width: 280px;
    font-size: 18px;
    z-index: 30;
    font-family: 'CheboyganRegular'
}

section#infos-area {
    position: absolute;
    top: 237px;
    left: 17px;
    width: 333px
}

section#infos-area div#infos-area-title {
    width: 318px;
    height: 71px;
    margin: 0;
    padding: 30px 0 0 15px;
    background: url('../bundles/elokencesite/images/bg-top-encart-central.png') no-repeat
}

section#infos-area div#infos-area-content {
    width: 303px;
    margin: 0;
    padding: 0 15px 0 15px;
    background: url('../bundles/elokencesite/images/bg-repeat-encart-central.png') repeat-y;
    overflow: hidden
}

section#infos-area div#infos-area-footer {
    width: 333px;
    height: 75px;
    margin: 0;
    padding: 15px 0 0 0;
    text-align: center;
    clear: both;
    background: url('../bundles/elokencesite/images/bg-bottom-encart-central.png') no-repeat
}

section#akinator {
    position: absolute;
    width: 291px;
    height: 411px;
    top: 80px;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 24;
    text-align: right
}

section#reponses {
    width: 237px;
    height: 188px;
    position: absolute;
    top: 265px;
    left: 65px
}

section#reponses .reponse {
    width: 225px;
    height: 41px;
    background: url('../images/bg-reponses.png') no-repeat;
    text-align: center;
    line-height: 37px;
    padding: 0 12px 0 0
}

section#reponses .valid {
    width: 225px;
    height: 41px;
    background: url('../bundles/elokencesite/images/bg-reponses-valid.png') no-repeat;
    text-align: center;
    line-height: 37px;
    padding: 0 12px 0 0
}

section#reponses .reponse a {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #27100d;
    text-decoration: none;
    display: block;
    width: 225px;
    height: 41px
}

section#reponses .valid a {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #ae2917;
    text-decoration: none;
    display: block;
    width: 225px;
    height: 41px;
    padding-top: 2px
}

.alone {
    margin-left: 115px
}

div#photo-container {
    width: 267px;
    height: 313px;
    position: absolute;
    top: 17px;
    left: 120px;
    text-align: center
}

div#photo-container img#photo {
    border: 10px solid #585550
}

section#zone-actions {
    position: absolute;
    top: 330px;
    left: 31px;
    width: 474px
}

section#infos-perso {
    margin: 0 0 0 30px
}

section#infos-perso div#infos-perso-title {
    width: 406px;
    height: 72px;
    margin: 0;
    background: url('../images/bg-top-propose.png') no-repeat;
    text-align: center
}

section#infos-perso div#infos-perso-content {
    width: 406px;
    margin: 0;
    background: url('../images/bg-repeat-propose.png') repeat-y;
    overflow: hidden;
    min-height: 30px;
    height: auto !important;
    height: 30px
}

section#infos-perso div#infos-perso-footer {
    width: 406px;
    height: 43px;
    margin: 0;
    clear: both;
    background: url('../images/bg-bottom-propose.png') no-repeat
}

section#infos-perso div#infos-perso-title p {
    padding: 18px 35px 0 20px;
    margin: 0;
    color: #4b0301;
    font-size: 15px
}

section#infos-perso div#infos-perso-title h2 {
    padding: 8px 50px 0 20px;
    margin: 0;
    color: #6b0903;
    font-size: 16px;
    font-family: 'ChowFunRegular'
}

section#infos-perso div#infos-perso-content p#description {
    padding: 0 35px 0 20px;
    text-align: center;
    font-size: 16px;
    color: #4b0301
}

section#validation-propose {
    z-index: 25;
    margin: 20px 0 0 0
}

section#validation-propose .reponse {
    width: 225px;
    height: 41px;
    background: url('../images/bg-reponses.png') no-repeat;
    text-align: center;
    line-height: 37px;
    padding: 0 12px 0 0;
    float: left
}

section#validation-propose .reponse.valid {
    background: url('../bundles/elokencesite/images/bg-reponses-valid.png') no-repeat
}

section#validation-propose .reponse a {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #590502;
    text-decoration: none;
    display: block;
    width: 225px;
    height: 41px
}

section#validation-propose .reponse.valid a {
    color: #ae2917;
    padding-top: 2px
}

#copyright-p {
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    padding-top: 20px
}

#copyright {
    text-decoration: none
}

section#infos-area div#infos-area-title h2 {
    font-family: 'ChowFunRegular';
    color: #5c2214;
    font-size: 22px;
    text-align: center;
    width: 300px
}

.stats-perso {
    text-align: center;
    font-size: 12px;
    color: #3b1c09;
    padding: 0 15px 0 0
}

.menu-content {
    margin: 0 0 20px 15px;
    padding: 0;
    width: 271px;
    text-align: center;
    list-style-type: none
}

.menu-content li {
    height: 25px;
    line-height: 25px;
    font-family: 'ChowFunRegular';
    background: url('../bundles/elokencesite/images/bg-menu-content.png') no-repeat;
    border-bottom: 1px solid #4b0301;
    margin: 5px 0;
    padding: 0 20px 5px 20px
}

.menu-content li.last {
    border: 0
}

.menu-content li a {
    color: #650300;
    text-decoration: none
}

.menu-content li a:hover {
    text-decoration: underline
}

.social-icon {
    margin: -10px 20px 0 20px;
    width: 30px
}

section#social-links {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 100px;
    top: 500px;
    right: 1px
}

nav#footer-nav {
    height: 38px;
    text-align: center;
    width: 995px
}

nav#footer-nav ul {
    height: 38px;
    padding: 0;
    margin: 0;
    list-style-type: none
}

nav#footer-nav ul li {
    display: inline;
    font-family: Verdana;
    font-size: 11px;
    line-height: 38px;
    padding: 0 18px 0 18px;
    font-weight: bold
}

nav#footer-nav ul li a {
    color: #ffe2b7;
    text-decoration: none
}

nav#footer-nav ul li a:hover {
    text-decoration: underline
}

footer p#copyright {
    clear: both;
    text-align: center;
    margin: 25px 0 0 0;
    color: #ffe2b7;
    font-size: 10px
}

footer p#copyright a, footer p#copyright a:visited {
    color: #ffe2b7;
    text-decoration: none
}

footer p#copyright a:hover {
    color: #ffe2b7;
    text-decoration: underline
}

section#partialcontent-area {
    width: 583px;
    margin: 10px 0 0 0;
    overflow: hidden
}

section#partialcontent-area div#partialcontent-area-title {
    width: 523px;
    height: 113px;
    margin: 0;
    padding: 30px 30px 0 30px;
    background: url('../bundles/elokencesite/images/bg-partial-content-top.png') no-repeat
}

section#partialcontent-area div#partialcontent-area-content {
    width: 523px;
    margin: 0;
    padding: 0 30px 0 30px;
    background: url('../bundles/elokencesite/images/bg-partial-content-repeat.png') repeat-y;
    overflow: hidden
}

section#partialcontent-area div#partialcontent-area-footer {
    width: 583px;
    height: 80px;
    margin: 0;
    padding: 15px 0 0 0;
    text-align: center;
    clear: both;
    background: url('../bundles/elokencesite/images/bg-partial-content-bottom.png') no-repeat
}

section#partialcontent-area div#partialcontent-area-title h2 {
    font-family: 'ChowFunRegular';
    color: #5c2214;
    font-size: 22px;
    text-align: center;
    margin: 40px 0 0 0
}

section#partialcontent-area div#partialcontent-area-title p {
    text-align: center;
    margin-top: 35px
}

section#partialcontent-area div#partialcontent-area-content h3 {
    text-align: center
}

section#partialcontent-area div#partialcontent-area-content table#game-report th {
    border: 1px solid black;
    background-color: #6a6148;
    color: white
}

section#partialcontent-area div#partialcontent-area-content table#game-report td, section#partialcontent-area div#partialcontent-area-content table#game-list td, section#partialcontent-area div#partialcontent-area-content table#question-list td, section#partialcontent-area div#partialcontent-area-content table#perso-list td {
    border: 1px solid black;
    padding: 5px
}

section#partialcontent-area div#partialcontent-area-content table#game-list, section#partialcontent-area div#partialcontent-area-content table#perso-list {
    text-align: left
}

section#partialcontent-area div#partialcontent-area-content table#game-list td {
    line-height: 22px
}

section#partialcontent-area div#partialcontent-area-content table#game-list td a.list-anchor, section#partialcontent-area div#partialcontent-area-content table#question-list td a.list-anchor {
    color: #222;
    text-decoration: none
}

section#partialcontent-area div#partialcontent-area-content table#game-list td a.list-anchor:hover, section#partialcontent-area div#partialcontent-area-content table#question-list td a.list-anchor:hover {
    text-decoration: underline
}

section#partialcontent-area div#partialcontent-area-content a {
    color: #222
}

section#question-found, section#question-not-found {
    display: none
}

section#question-not-found, #listperso-form, #add-photo-form {
    text-align: center
}

section#infos-area div#infos-area-title h2.titre-home {
    font-family: 'ChowFunRegular';
    color: #5c2214;
    font-size: 17px;
    text-align: center;
    margin: 20px 0 0 0
}

section#infos-area div#infos-area-content ul#list-sessions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    clear: both
}

section#infos-area div#infos-area-content ul#list-sessions li {
    margin-bottom: 5px;
    overflow: hidden
}

section#infos-area div#infos-area-content ul#list-sessions span {
    display: block;
    float: left;
    font-size: 11px
}

section#infos-area div#infos-area-content ul#list-sessions span.chosen_item {
    width: 140px;
    text-align: right
}

section#infos-area div#infos-area-content ul#list-sessions span.item-separator {
    width: 20px;
    text-align: center
}

section#infos-area div#infos-area-content ul#list-sessions span.guessed_item {
    width: 140px
}

p.infos-game {
    font-size: 10px;
    color: #918058;
    margin: 0
}

p.title-session {
    font-family: 'ChowFunRegular';
    font-size: 14px;
    margin: 0 0 15px 0;
    overflow: hidden;
    height: 16px
}

p.title-session span {
    width: 140px;
    display: block;
    float: left
}

p.title-session span.vous-pensiez {
    color: #3b1c09;
    margin: 0 20px 0 0;
    text-align: right
}

p.title-session span.je-devine {
    color: #4c72ab;
    text-align: left
}

section#cross-media h2.title-cross-media {
    background: url('../bundles/elokencesite/images/picto-tablette.png') no-repeat right;
    padding: 0 20px 0 15px;
    margin: 35px 40px 0 0;
    font-family: 'ChowFunRegular';
    color: #5c2214;
    font-size: 16px;
    height: 45px
}

div#cross-media-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 10px 0 0 0
}

div#cross-media-content ul li span.title {
    font-family: 'ChowFunRegular';
    color: #5c2214;
    font-size: 13px;
    padding: 0 0 10px 0;
    margin: 0 0 0 5px;
    display: block
}

div#cross-media-content ul li ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden
}

div#cross-media-content ul li ul li {
    font-family: Verdana;
    font-weight: bold;
    font-size: 9px;
    color: #690702;
    margin: 20px 20px 5px 0;
    line-height: 23px;
    clear: both;
    overflow: hidden
}

div#cross-media-content ul li ul li span.partner_count {
    font-size: 9px;
    color: black;
    font-weight: normal;
    font-family: Arial
}

div#cross-media-content ul li ul li img.img-partner {
    float: left
}

div#cross-media-content ul li ul li div.infos-partner {
    line-height: 10px;
    margin: 0 0 0 15px;
    margin-left: 55px
}

div#cross-media-content ul li ul li a.store2 {
    margin-left: 10px;
    font-size: 12px
}

.facebook-frame {
    margin: 17px 0 0 20px;
    text-align: center
}

.social-picto {
    float: left
}

.social-picto.first {
    margin: 5px 0 0 52px
}

.social-picto.second {
    margin: 15px 0 0 20px
}

.social-picto.third {
    margin: 5px 0 0 20px
}

div#content-full {
    width: 825px;
    float: left
}

section#fullcontent-area {
    width: 825px;
    margin: 10px 0 0 0;
    overflow: hidden
}

section#fullcontent-area div#fullcontent-area-title {
    width: 765px;
    height: 129px;
    margin: 0;
    padding: 30px 30px 0 30px;
    background: url('../bundles/elokencesite/images/bg-full-content-top.png') no-repeat
}

section#fullcontent-area div#fullcontent-area-content {
    width: 765px;
    margin: 0;
    padding: 0 30px 0 30px;
    background: url('../bundles/elokencesite/images/bg-full-content-repeat.png') repeat-y;
    overflow: hidden
}

section#fullcontent-area div#fullcontent-area-footer {
    width: 825px;
    height: 112px;
    margin: 0;
    padding: 15px 0 0 0;
    text-align: center;
    clear: both;
    background: url('../bundles/elokencesite/images/bg-full-content-bottom.png') no-repeat
}

section#fullcontent-area div#fullcontent-area-title h2 {
    font-family: 'ChowFunRegular';
    color: #5c2214;
    font-size: 22px;
    text-align: center;
    margin: 40px 0 0 0
}

.text_buzz {
    margin: 0 auto;
    width: 90%;
    text-align: left;
    margin-top: 10px
}

#table_buzz {
    margin-top: 20px
}

#table_buzz td {
    height: 40px;
    vertical-align: middle
}

#table_buzz td#td_drapeaux {
    width: 40px;
    text-align: center
}

#table_buzz .small {
    width: 32px;
    height: 20px
}

#testerForm {
    padding-right: 5%
}

#testerForm p.intro {
    float: left;
    font-weight: bold;
    width: 90%;
    color: #353535;
    margin-left: 8%;
    margin-bottom: 20px;
    text-align: left
}

.block_form_test label {
    float: left;
    width: 365px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    color: #353535;
    margin-left: 8%
}

form p.block_form_test input[type="text"] {
    margin-left: 0;
    border: solid 1px #5c2214;
    padding: 2px 4px;
    background-color: #f2dda0;
    border-radius: 5px;
    width: 250px;
    margin-left: 15px
}

p.msg_valid {
    text-align: center;
    color: green;
    width: 90%;
    margin: 0 auto
}

form#testerForm ul {
    list-style-type: none;
    color: red
}

#actu {
    overflow: hidden;
    position: relative
}

#actu div#anim-actu {
    margin: 36px 0 0 0;
    overflow: hidden;
    height: 180px;
    position: relative
}

.actu-content {
    width: 190px;
    height: 180px;
    overflow: hidden;
    margin: 0 0 20px 20px
}

.actu-content h3 {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 14px;
    color: #750f05;
    margin: 0 0 5px 0
}

.actu-content span.akibuzz-name {
    font-weight: bold;
    font-size: 12px
}

.actu-pic {
    width: 70px;
    float: left;
    margin: 0 10px 2px 0
}

.actu-with-pic, .actu-without-pic {
    text-align: justify;
    font-family: 'Verdana';
    font-size: 9px;
    color: #555042;
    overflow: hidden
}

.savoir-plus-btn {
    background: url('../bundles/elokencesite/images/bg-btn.jpg') repeat-x;
    text-decoration: none;
    text-align: center;
    padding: 2px 25px;
    border: 1px solid #9e5e47;
    color: #ffebb1;
    font-weight: bold;
    display: inline-block;
    background-size: 30% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../bundles/elokencesite/images/bg-btn.jpg', sizingMethod='scale')
}

.savoir-plus-btn:hover, .savoir-plus-btn:visited {
    text-decoration: none;
    color: #ffebb1
}

#btn-actus {
    clear: both
}